<div class="card border-light rounded-4 bg-secondary bg-opacity-10">
  <div class="card-body p-4">
    <h3 class="card-title text-color mb-4">Lighting</h3>
    <div class="row g-0 justify-content-center align-items-end">
      <div class="col-xl-9 col-md-9 col-sm-9 col-9">
        <div class="d-flex displays-color">
          <h1 class="mb-0 align-self-start">32</h1>
          <span class="badge text-bg-green align-self-start ms-3">ON</span>
        </div>
      </div>
      <div class="col-xl-3 col-md-3 col-sm-3 col-3">
        <div class="d-flex flex-column">
          <div class="gray-color ontime">Total</div>
          <div class="gray-color time">43</div>
        </div>
      </div>
    </div>
  </div>
</div>