.gray-color{
    font-size: 2.6rem;
    font-weight: bold;
}
.circle {
    background-color: #6DD0A5;
}
i.bi.bi-arrow-up {
    color: #6DD0A5;
    font-size: xx-large;
}
i.bi.bi-arrow-down {
    color: #feb525;
    font-size: xx-large;
}