<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-3 col-md-8 mx-auto">
        <img src="../assets/images/logo.svg" />
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row mb-3 justify-content-center">
      <app-air-quality class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 mt-2"></app-air-quality>
      <app-temperature class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 mt-2"></app-temperature>
      <app-audio class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-xl-0 mt-lg-0 mt-md-3 mt-sm-0 mt-2"></app-audio>
      <app-displays class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-xl-3 mt-lg-3 mt-md-3 mt-sm-0 mt-2"></app-displays>
      <app-lighting class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-xl-3 mt-lg-3 mt-md-3 mt-sm-0 mt-2"></app-lighting>
    </div>
  </div>
</main>
