<div class="card border-light rounded-4 bg-secondary bg-opacity-10">
  <div class="card-body p-4">
      <h3 class="card-title text-color mb-4">Displays</h3>
    <div class="row g-0 justify-content-center align-items-end">
      <div class="col-xl-6 col-md-6 col-sm-6 col-6 border-gray border-2 border-end">
        <div class="d-flex align-items-baseline displays-color">
          <h1 class="mb-0">10</h1>
          <small>/16</small>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-6 col-6">
        <div class="d-flex flex-column ps-3">
          <div class="gray-color ontime">On Time</div>
          <div class="gray-color time">00:00</div>
        </div>
      </div>
    </div>
  </div>
</div>